# Telephone Directory CRUD Operation

Telephone directory: Perform CRUD operation using mongodb and python.
You need to

Import necessary modules.
Perform CRUD operations to manipulate data in MongoDB. Create, retrieve,update, and delete (CRUD)
Create a database using attribute style on a MongoClient instance. 

Declare a variable db and assign the new database as an attribute of the client.

Create a collection.


For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

Insert the record into the collection.

Make a query to find records you just created.

Modify the records, use the update_one() method. 

The update_one() method requires two arguments, query and update.

Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

In [1]:
# Importing the Modules
import pymongo
import json
from pymongo import MongoClient

In [2]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [3]:
# Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.
db = myclient["Telephone"]

data = db.collection1
data.count_documents({}) ## just finding if any data is present

0

In [4]:
# For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

directory = [
    {'telid':1,'name':'ajith','place':'gudivada','phonenumber':8956237845},
    {'telid':2,'name':'akash','place':'machilipatnam','phonenumber':4578122356},
    {'telid':3,'name':'manohar','place':'bhimavaram','phonenumber':4589562358},
    {'telid':4,'name':'ajay','place':'tanuku','phonenumber':9856231245},
    {'telid':5,'name':'dhanu','place':'vijayawada','phonenumber':7895451223},
    {'telid':6,'name':'lakshmi','place':'nellore','phonenumber':8745568585},
    {'telid':7,'name':'narayana','place':'nuzvid','phonenumber':7812456235},
    {'telid':8,'name':'ram','place':'moturu','phonenumber':7845962158},
    {'telid':9,'name':'lakshman','place':'tarigoppula','phonenumber':7895486215},
    {'telid':10,'name':'rosy','place':'eluru','phonenumber':9856487452}
]

In [5]:
directory_data = data.insert_many(directory)
print(directory_data.inserted_ids)

[ObjectId('635ead793af58a47440d2ce6'), ObjectId('635ead793af58a47440d2ce7'), ObjectId('635ead793af58a47440d2ce8'), ObjectId('635ead793af58a47440d2ce9'), ObjectId('635ead793af58a47440d2cea'), ObjectId('635ead793af58a47440d2ceb'), ObjectId('635ead793af58a47440d2cec'), ObjectId('635ead793af58a47440d2ced'), ObjectId('635ead793af58a47440d2cee'), ObjectId('635ead793af58a47440d2cef')]

In [6]:
# Insert the record into the collection.

y_data = {'telid':11,'name':'jersy','place':'ronaldo','phonenumber':9856487852}
directory_data1 = data.insert_one(y_data)

In [7]:
telephone_data = db.collection1.find()

for i in telephone_data:
    print(i)

{'_id': ObjectId('635ead793af58a47440d2ce6'), 'telid': 1, 'name': 'ajith', 'place': 'gudivada', 'phonenumber': 8956237845}
{'_id': ObjectId('635ead793af58a47440d2ce7'), 'telid': 2, 'name': 'akash', 'place': 'machilipatnam', 'phonenumber': 4578122356}
{'_id': ObjectId('635ead793af58a47440d2ce8'), 'telid': 3, 'name': 'manohar', 'place': 'bhimavaram', 'phonenumber': 4589562358}
{'_id': ObjectId('635ead793af58a47440d2ce9'), 'telid': 4, 'name': 'ajay', 'place': 'tanuku', 'phonenumber': 9856231245}
{'_id': ObjectId('635ead793af58a47440d2cea'), 'telid': 5, 'name': 'dhanu', 'place': 'vijayawada', 'phonenumber': 7895451223}
{'_id': ObjectId('635ead793af58a47440d2ceb'), 'telid': 6, 'name': 'lakshmi', 'place': 'nellore', 'phonenumber': 8745568585}
{'_id': ObjectId('635ead793af58a47440d2cec'), 'telid': 7, 'name': 'narayana', 'place': 'nuzvid', 'phonenumber': 7812456235}
{'_id': ObjectId('635ead793af58a47440d2ced'), 'telid': 8, 'name': 'ram', 'place': 'moturu', 'phonenumber': 7845962158}
{'_id': ObjectId('635ead793af58a47440d2cee'), 'telid': 9, 'name': 'lakshman', 'place': 'tarigoppula', 'phonenumber': 7895486215}
{'_id': ObjectId('635ead793af58a47440d2cef'), 'telid': 10, 'name': 'rosy', 'place': 'eluru', 'phonenumber': 9856487452}
{'_id': ObjectId('635ead7a3af58a47440d2cf0'), 'telid': 11, 'name': 'jersy', 'place': 'ronaldo', 'phonenumber': 9856487852}

In [8]:
# Make a query to find records you just created.
yda = {'telid':9}
db.collection1.find_one(yda)

{'_id': ObjectId('635ead793af58a47440d2cee'),
 'telid': 9,
 'name': 'lakshman',
 'place': 'tarigoppula',
 'phonenumber': 7895486215}

In [9]:
myquery = {'place':'tanuku'}
mydat = db.collection1.find(myquery,{'telid':0,'place':0})
for x in mydat:
  print(x)

{'_id': ObjectId('635ead793af58a47440d2ce9'), 'name': 'ajay', 'phonenumber': 9856231245}

In [10]:
# Modify the records, use the update_one() method. 

myquery = {"name":"ram"}
newval = {"$set":{"name":"RaghuRamRaavi"}}
data.update_one(myquery,newval)
for x in data.find():
  print(x)

{'_id': ObjectId('635ead793af58a47440d2ce6'), 'telid': 1, 'name': 'ajith', 'place': 'gudivada', 'phonenumber': 8956237845}
{'_id': ObjectId('635ead793af58a47440d2ce7'), 'telid': 2, 'name': 'akash', 'place': 'machilipatnam', 'phonenumber': 4578122356}
{'_id': ObjectId('635ead793af58a47440d2ce8'), 'telid': 3, 'name': 'manohar', 'place': 'bhimavaram', 'phonenumber': 4589562358}
{'_id': ObjectId('635ead793af58a47440d2ce9'), 'telid': 4, 'name': 'ajay', 'place': 'tanuku', 'phonenumber': 9856231245}
{'_id': ObjectId('635ead793af58a47440d2cea'), 'telid': 5, 'name': 'dhanu', 'place': 'vijayawada', 'phonenumber': 7895451223}
{'_id': ObjectId('635ead793af58a47440d2ceb'), 'telid': 6, 'name': 'lakshmi', 'place': 'nellore', 'phonenumber': 8745568585}
{'_id': ObjectId('635ead793af58a47440d2cec'), 'telid': 7, 'name': 'narayana', 'place': 'nuzvid', 'phonenumber': 7812456235}
{'_id': ObjectId('635ead793af58a47440d2ced'), 'telid': 8, 'name': 'RaghuRamRaavi', 'place': 'moturu', 'phonenumber': 7845962158}
{'_id': ObjectId('635ead793af58a47440d2cee'), 'telid': 9, 'name': 'lakshman', 'place': 'tarigoppula', 'phonenumber': 7895486215}
{'_id': ObjectId('635ead793af58a47440d2cef'), 'telid': 10, 'name': 'rosy', 'place': 'eluru', 'phonenumber': 9856487452}
{'_id': ObjectId('635ead7a3af58a47440d2cf0'), 'telid': 11, 'name': 'jersy', 'place': 'ronaldo', 'phonenumber': 9856487852}

In [11]:
# Delete the record, use delete_one() method.

myquery = {'phonenumber':7895451223}
data.delete_one(myquery)
for x in data.find():
    print(x)

{'_id': ObjectId('635ead793af58a47440d2ce6'), 'telid': 1, 'name': 'ajith', 'place': 'gudivada', 'phonenumber': 8956237845}
{'_id': ObjectId('635ead793af58a47440d2ce7'), 'telid': 2, 'name': 'akash', 'place': 'machilipatnam', 'phonenumber': 4578122356}
{'_id': ObjectId('635ead793af58a47440d2ce8'), 'telid': 3, 'name': 'manohar', 'place': 'bhimavaram', 'phonenumber': 4589562358}
{'_id': ObjectId('635ead793af58a47440d2ce9'), 'telid': 4, 'name': 'ajay', 'place': 'tanuku', 'phonenumber': 9856231245}
{'_id': ObjectId('635ead793af58a47440d2ceb'), 'telid': 6, 'name': 'lakshmi', 'place': 'nellore', 'phonenumber': 8745568585}
{'_id': ObjectId('635ead793af58a47440d2cec'), 'telid': 7, 'name': 'narayana', 'place': 'nuzvid', 'phonenumber': 7812456235}
{'_id': ObjectId('635ead793af58a47440d2ced'), 'telid': 8, 'name': 'RaghuRamRaavi', 'place': 'moturu', 'phonenumber': 7845962158}
{'_id': ObjectId('635ead793af58a47440d2cee'), 'telid': 9, 'name': 'lakshman', 'place': 'tarigoppula', 'phonenumber': 7895486215}
{'_id': ObjectId('635ead793af58a47440d2cef'), 'telid': 10, 'name': 'rosy', 'place': 'eluru', 'phonenumber': 9856487452}
{'_id': ObjectId('635ead7a3af58a47440d2cf0'), 'telid': 11, 'name': 'jersy', 'place': 'ronaldo', 'phonenumber': 9856487852}

In [12]:
data=db.collection1
data.count_documents({})

10

In [13]:
db.collection1.drop() ## dropping the data such that we can use the same for the upcoming one.

# **Student Database (MongoDB)**

Here is the student dataset in the json format. .
Perform the following operation:
First create a database and then load the student.json dataset.
Insert the students record into the collection.
Queries need to answer:

1) Find the student name who scored maximum scores in all (exam, quiz and homework)?

2) Find students who scored below average in the exam and pass mark is 40%?

3) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

4) Find the total and average of the exam, quiz and homework and store them in a separate collection.

5) Create a new collection which consists of students who scored below average and above 40% in all the categories.

6) Create a new collection which consists of students who scored below the fail mark in all the categories.

7) Create a new collection which\ consists of students who scored above pass mark in all the categories.

Data set Link: https://drive.google.com/file/d/1m7bmdkn6uFCYmo_6zf8VNafqaE2c0FHY/view?usp=sharing

In [14]:
# creating the database for uploading the current data

db = myclient["StudentData"]
data = db.studentcollection
data.count_documents({})

200

In [15]:
data.drop()

In [16]:
student_data = []
for line in open('students.json','r'):
    student_data.append(json.loads(line))

In [17]:
data.drop()

In [18]:
x = data.insert_many(student_data)
print(x.inserted_ids)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [19]:
data.count_documents({})

200

In [20]:
data.find_one()

{'_id': 0,
 'name': 'aimee Zank',
 'scores': [{'score': 1.463179736705023, 'type': 'exam'},
  {'score': 11.78273309957772, 'type': 'quiz'},
  {'score': 35.8740349954354, 'type': 'homework'}]}

In [21]:
studentdata = db.studentcollection.find()

for i in studentdata:
    print(i)

{'_id': 0, 'name': 'aimee Zank', 'scores': [{'score': 1.463179736705023, 'type': 'exam'}, {'score': 11.78273309957772, 'type': 'quiz'}, {'score': 35.8740349954354, 'type': 'homework'}]}
{'_id': 1, 'name': 'Aurelia Menendez', 'scores': [{'score': 60.06045071030959, 'type': 'exam'}, {'score': 52.79790691903873, 'type': 'quiz'}, {'score': 71.76133439165544, 'type': 'homework'}]}
{'_id': 2, 'name': 'Corliss Zuk', 'scores': [{'score': 67.03077096065002, 'type': 'exam'}, {'score': 6.301851677835235, 'type': 'quiz'}, {'score': 66.28344683278382, 'type': 'homework'}]}
{'_id': 3, 'name': 'Bao Ziglar', 'scores': [{'score': 71.64343899778332, 'type': 'exam'}, {'score': 24.80221293650313, 'type': 'quiz'}, {'score': 42.26147058804812, 'type': 'homework'}]}
{'_id': 4, 'name': 'Zachary Langlais', 'scores': [{'score': 78.68385091304332, 'type': 'exam'}, {'score': 90.2963101368042, 'type': 'quiz'}, {'score': 34.41620148042529, 'type': 'homework'}]}
{'_id': 5, 'name': 'Wilburn Spiess', 'scores': [{'score': 44.87186330181261, 'type': 'exam'}, {'score': 25.72395114668016, 'type': 'quiz'}, {'score': 63.42288310628662, 'type': 'homework'}]}
{'_id': 6, 'name': 'Jenette Flanders', 'scores': [{'score': 37.32285459166097, 'type': 'exam'}, {'score': 28.32634976913737, 'type': 'quiz'}, {'score': 81.57115318686338, 'type': 'homework'}]}
{'_id': 7, 'name': 'Salena Olmos', 'scores': [{'score': 90.37826509157176, 'type': 'exam'}, {'score': 42.48780666956811, 'type': 'quiz'}, {'score': 96.52986171633331, 'type': 'homework'}]}
{'_id': 8, 'name': 'Daphne Zheng', 'scores': [{'score': 22.13583712862635, 'type': 'exam'}, {'score': 14.63969941335069, 'type': 'quiz'}, {'score': 75.94123677556644, 'type': 'homework'}]}
{'_id': 9, 'name': 'Sanda Ryba', 'scores': [{'score': 97.00509953654694, 'type': 'exam'}, {'score': 97.80449632538915, 'type': 'quiz'}, {'score': 25.27368532432955, 'type': 'homework'}]}
{'_id': 10, 'name': 'Denisha Cast', 'scores': [{'score': 45.61876862259409, 'type': 'exam'}, {'score': 98.35723209418343, 'type': 'quiz'}, {'score': 55.90835657173456, 'type': 'homework'}]}
{'_id': 11, 'name': 'Marcus Blohm', 'scores': [{'score': 78.42617835651868, 'type': 'exam'}, {'score': 82.58372817930675, 'type': 'quiz'}, {'score': 87.49924733328717, 'type': 'homework'}]}
{'_id': 12, 'name': 'Quincy Danaher', 'scores': [{'score': 54.29841278520669, 'type': 'exam'}, {'score': 85.61270164694737, 'type': 'quiz'}, {'score': 80.40732356118075, 'type': 'homework'}]}
{'_id': 13, 'name': 'Jessika Dagenais', 'scores': [{'score': 90.47179954427436, 'type': 'exam'}, {'score': 90.3001402468489, 'type': 'quiz'}, {'score': 95.17753772405909, 'type': 'homework'}]}
{'_id': 14, 'name': 'Alix Sherrill', 'scores': [{'score': 25.15924151998215, 'type': 'exam'}, {'score': 68.64484047692098, 'type': 'quiz'}, {'score': 24.68462152686763, 'type': 'homework'}]}
{'_id': 15, 'name': 'Tambra Mercure', 'scores': [{'score': 69.1565022533158, 'type': 'exam'}, {'score': 3.311794422000724, 'type': 'quiz'}, {'score': 45.03178973642521, 'type': 'homework'}]}
{'_id': 16, 'name': 'Dodie Staller', 'scores': [{'score': 7.772386442858281, 'type': 'exam'}, {'score': 31.84300235104542, 'type': 'quiz'}, {'score': 80.52136407989194, 'type': 'homework'}]}
{'_id': 17, 'name': 'Fletcher Mcconnell', 'scores': [{'score': 39.41011069729274, 'type': 'exam'}, {'score': 81.13270307809924, 'type': 'quiz'}, {'score': 97.70116640402922, 'type': 'homework'}]}
{'_id': 18, 'name': 'Verdell Sowinski', 'scores': [{'score': 62.12870233109035, 'type': 'exam'}, {'score': 84.74586220889356, 'type': 'quiz'}, {'score': 81.58947824932574, 'type': 'homework'}]}
{'_id': 19, 'name': 'Gisela Levin', 'scores': [{'score': 44.51211101958831, 'type': 'exam'}, {'score': 0.6578497966368002, 'type': 'quiz'}, {'score': 93.36341655949683, 'type': 'homework'}]}
{'_id': 20, 'name': 'Tressa Schwing', 'scores': [{'score': 42.17439799514388, 'type': 'exam'}, {'score': 71.99314840599558, 'type': 'quiz'}, {'score': 81.23972632069464, 'type': 'homework'}]}
{'_id': 21, 'name': 'Rosana Vales', 'scores': [{'score': 46.2289476258328, 'type': 'exam'}, {'score': 98.34164225207036, 'type': 'quiz'}, {'score': 36.18769746805938, 'type': 'homework'}]}
{'_id': 22, 'name': 'Margart Vitello', 'scores': [{'score': 75.04996547553947, 'type': 'exam'}, {'score': 10.23046475899236, 'type': 'quiz'}, {'score': 96.72520512117761, 'type': 'homework'}]}
{'_id': 23, 'name': 'Tamika Schildgen', 'scores': [{'score': 45.65432764125526, 'type': 'exam'}, {'score': 64.32927049658846, 'type': 'quiz'}, {'score': 83.53933351660562, 'type': 'homework'}]}
{'_id': 24, 'name': 'Jesusa Rickenbacker', 'scores': [{'score': 86.0319702155683, 'type': 'exam'}, {'score': 1.967495200433389, 'type': 'quiz'}, {'score': 61.10861071547914, 'type': 'homework'}]}
{'_id': 25, 'name': 'Rudolph Domingo', 'scores': [{'score': 74.75289335591543, 'type': 'exam'}, {'score': 38.5413647805495, 'type': 'quiz'}, {'score': 35.2554340953413, 'type': 'homework'}]}
{'_id': 26, 'name': 'Jonie Raby', 'scores': [{'score': 19.17861192576963, 'type': 'exam'}, {'score': 76.3890359749654, 'type': 'quiz'}, {'score': 44.39605672647002, 'type': 'homework'}]}
{'_id': 27, 'name': 'Edgar Sarkis', 'scores': [{'score': 8.606983261043888, 'type': 'exam'}, {'score': 58.71180464203724, 'type': 'quiz'}, {'score': 15.33726210596508, 'type': 'homework'}]}
{'_id': 28, 'name': 'Laureen Salomone', 'scores': [{'score': 3.677565278992456, 'type': 'exam'}, {'score': 7.119462599229987, 'type': 'quiz'}, {'score': 82.87308922617427, 'type': 'homework'}]}
{'_id': 29, 'name': 'Gwyneth Garling', 'scores': [{'score': 48.36644963899371, 'type': 'exam'}, {'score': 10.37827022865908, 'type': 'quiz'}, {'score': 93.26639335532833, 'type': 'homework'}]}
{'_id': 30, 'name': 'Kaila Deibler', 'scores': [{'score': 15.89771199662455, 'type': 'exam'}, {'score': 56.93965183412178, 'type': 'quiz'}, {'score': 66.64493295066322, 'type': 'homework'}]}
{'_id': 31, 'name': 'Tandra Meadows', 'scores': [{'score': 24.90138146001744, 'type': 'exam'}, {'score': 28.8266541837344, 'type': 'quiz'}, {'score': 97.16831550665721, 'type': 'homework'}]}
{'_id': 32, 'name': 'Gwen Honig', 'scores': [{'score': 87.14345376886205, 'type': 'exam'}, {'score': 99.45824441135635, 'type': 'quiz'}, {'score': 76.66460454219344, 'type': 'homework'}]}
{'_id': 33, 'name': 'Sadie Jernigan', 'scores': [{'score': 73.15861249943812, 'type': 'exam'}, {'score': 2.987718065941702, 'type': 'quiz'}, {'score': 82.54104198590488, 'type': 'homework'}]}
{'_id': 34, 'name': 'Carli Belvins', 'scores': [{'score': 7.112266875518214, 'type': 'exam'}, {'score': 67.734668378287, 'type': 'quiz'}, {'score': 88.99855402666871, 'type': 'homework'}]}
{'_id': 35, 'name': 'Synthia Labelle', 'scores': [{'score': 27.22049103148209, 'type': 'exam'}, {'score': 31.28760039265919, 'type': 'quiz'}, {'score': 79.23285425688643, 'type': 'homework'}]}
{'_id': 36, 'name': 'Eugene Magdaleno', 'scores': [{'score': 73.055900093666, 'type': 'exam'}, {'score': 79.85621560462026, 'type': 'quiz'}, {'score': 66.09143669040472, 'type': 'homework'}]}
{'_id': 37, 'name': 'Meagan Oakes', 'scores': [{'score': 86.06759716616264, 'type': 'exam'}, {'score': 79.45097452834857, 'type': 'quiz'}, {'score': 28.41090281547689, 'type': 'homework'}]}
{'_id': 38, 'name': 'Richelle Siemers', 'scores': [{'score': 34.64373397163318, 'type': 'exam'}, {'score': 91.46799649446983, 'type': 'quiz'}, {'score': 56.12615074082559, 'type': 'homework'}]}
{'_id': 39, 'name': 'Mariette Batdorf', 'scores': [{'score': 0.04381116979284005, 'type': 'exam'}, {'score': 90.25774974259562, 'type': 'quiz'}, {'score': 65.88612319625227, 'type': 'homework'}]}
{'_id': 40, 'name': 'Rachell Aman', 'scores': [{'score': 84.53009035375172, 'type': 'exam'}, {'score': 25.25568126160764, 'type': 'quiz'}, {'score': 70.42062575402956, 'type': 'homework'}]}
{'_id': 41, 'name': 'Aleida Elsass', 'scores': [{'score': 28.02518041693717, 'type': 'exam'}, {'score': 95.25243105389065, 'type': 'quiz'}, {'score': 68.05980405338909, 'type': 'homework'}]}
{'_id': 42, 'name': 'Kayce Kenyon', 'scores': [{'score': 44.62441703708117, 'type': 'exam'}, {'score': 27.38208798553111, 'type': 'quiz'}, {'score': 97.43587143437509, 'type': 'homework'}]}
{'_id': 43, 'name': 'Ernestine Macfarland', 'scores': [{'score': 15.29147856258362, 'type': 'exam'}, {'score': 78.40698797039501, 'type': 'quiz'}, {'score': 31.03031764716336, 'type': 'homework'}]}
{'_id': 44, 'name': 'Houston Valenti', 'scores': [{'score': 98.06441387027331, 'type': 'exam'}, {'score': 0.8760893342659504, 'type': 'quiz'}, {'score': 15.2177618920215, 'type': 'homework'}]}
{'_id': 45, 'name': 'Terica Brugger', 'scores': [{'score': 42.1011312120801, 'type': 'exam'}, {'score': 41.73654145887228, 'type': 'quiz'}, {'score': 18.91287189072117, 'type': 'homework'}]}
{'_id': 46, 'name': 'Lady Lefevers', 'scores': [{'score': 16.89237820123443, 'type': 'exam'}, {'score': 65.97505910406456, 'type': 'quiz'}, {'score': 48.42527123437286, 'type': 'homework'}]}
{'_id': 47, 'name': 'Kurtis Jiles', 'scores': [{'score': 92.96916908741805, 'type': 'exam'}, {'score': 22.86854192921203, 'type': 'quiz'}, {'score': 31.89793879453222, 'type': 'homework'}]}
{'_id': 48, 'name': 'Barbera Lippman', 'scores': [{'score': 35.43490750932609, 'type': 'exam'}, {'score': 97.42074160188449, 'type': 'quiz'}, {'score': 74.1092960902528, 'type': 'homework'}]}
{'_id': 49, 'name': 'Dinah Sauve', 'scores': [{'score': 96.64807532447064, 'type': 'exam'}, {'score': 14.56470882270576, 'type': 'quiz'}, {'score': 72.00519420743191, 'type': 'homework'}]}
{'_id': 50, 'name': 'Alica Pasley', 'scores': [{'score': 19.38544736721771, 'type': 'exam'}, {'score': 88.70752686639557, 'type': 'quiz'}, {'score': 60.62755218680213, 'type': 'homework'}]}
{'_id': 51, 'name': 'Elizabet Kleine', 'scores': [{'score': 86.81245449846962, 'type': 'exam'}, {'score': 36.196443334522, 'type': 'quiz'}, {'score': 77.94001750905642, 'type': 'homework'}]}
{'_id': 52, 'name': 'Tawana Oberg', 'scores': [{'score': 80.59006098671075, 'type': 'exam'}, {'score': 93.28438118988183, 'type': 'quiz'}, {'score': 93.12134003887978, 'type': 'homework'}]}
{'_id': 53, 'name': 'Malisa Jeanes', 'scores': [{'score': 33.44580005842922, 'type': 'exam'}, {'score': 7.172746439960975, 'type': 'quiz'}, {'score': 80.53328849494751, 'type': 'homework'}]}
{'_id': 54, 'name': 'Joel Rueter', 'scores': [{'score': 87.53636893952853, 'type': 'exam'}, {'score': 92.70974674256513, 'type': 'quiz'}, {'score': 61.79032586247813, 'type': 'homework'}]}
{'_id': 55, 'name': 'Tresa Sinha', 'scores': [{'score': 94.93136959210354, 'type': 'exam'}, {'score': 72.32226123565266, 'type': 'quiz'}, {'score': 77.248768811767, 'type': 'homework'}]}
{'_id': 56, 'name': 'Danika Loeffler', 'scores': [{'score': 21.54531707142236, 'type': 'exam'}, {'score': 41.75962115078149, 'type': 'quiz'}, {'score': 55.70195462204016, 'type': 'homework'}]}
{'_id': 57, 'name': 'Chad Rahe', 'scores': [{'score': 40.84572027366789, 'type': 'exam'}, {'score': 29.22733629679561, 'type': 'quiz'}, {'score': 93.12112348179406, 'type': 'homework'}]}
{'_id': 58, 'name': 'Joaquina Arbuckle', 'scores': [{'score': 28.66671659815553, 'type': 'exam'}, {'score': 40.48858382583742, 'type': 'quiz'}, {'score': 51.51393116681172, 'type': 'homework'}]}
{'_id': 59, 'name': 'Vinnie Auerbach', 'scores': [{'score': 95.45508256300009, 'type': 'exam'}, {'score': 7.512188017365151, 'type': 'quiz'}, {'score': 28.5905754294006, 'type': 'homework'}]}
{'_id': 60, 'name': 'Dusti Lemmond', 'scores': [{'score': 17.27725327681863, 'type': 'exam'}, {'score': 83.24439414725833, 'type': 'quiz'}, {'score': 81.84258722611811, 'type': 'homework'}]}
{'_id': 61, 'name': 'Grady Zemke', 'scores': [{'score': 51.91561300267121, 'type': 'exam'}, {'score': 50.08349374829509, 'type': 'quiz'}, {'score': 95.34139273570386, 'type': 'homework'}]}
{'_id': 62, 'name': 'Vina Matsunaga', 'scores': [{'score': 51.38190070034149, 'type': 'exam'}, {'score': 34.63479282877322, 'type': 'quiz'}, {'score': 46.27059093183421, 'type': 'homework'}]}
{'_id': 63, 'name': 'Rubie Winton', 'scores': [{'score': 7.176062073558509, 'type': 'exam'}, {'score': 46.32426882511162, 'type': 'quiz'}, {'score': 19.24312817599633, 'type': 'homework'}]}
{'_id': 64, 'name': 'Whitley Fears', 'scores': [{'score': 89.61845831842888, 'type': 'exam'}, {'score': 82.44879156010508, 'type': 'quiz'}, {'score': 96.57912148645883, 'type': 'homework'}]}
{'_id': 65, 'name': 'Gena Riccio', 'scores': [{'score': 67.58395308948619, 'type': 'exam'}, {'score': 67.2413500951588, 'type': 'quiz'}, {'score': 42.93471779899529, 'type': 'homework'}]}
{'_id': 66, 'name': 'Kim Xu', 'scores': [{'score': 19.96531774799065, 'type': 'exam'}, {'score': 17.52966217224916, 'type': 'quiz'}, {'score': 57.32983091095816, 'type': 'homework'}]}
{'_id': 67, 'name': 'Merissa Mann', 'scores': [{'score': 75.1949733626123, 'type': 'exam'}, {'score': 52.56522605123723, 'type': 'quiz'}, {'score': 94.67518167209815, 'type': 'homework'}]}
{'_id': 68, 'name': 'Jenise Mcguffie', 'scores': [{'score': 40.15210496060384, 'type': 'exam'}, {'score': 90.60219950183566, 'type': 'quiz'}, {'score': 51.58720341010564, 'type': 'homework'}]}
{'_id': 69, 'name': 'Cody Strouth', 'scores': [{'score': 4.784730508547719, 'type': 'exam'}, {'score': 99.80348240553108, 'type': 'quiz'}, {'score': 97.89665889862901, 'type': 'homework'}]}
{'_id': 70, 'name': 'Harriett Velarde', 'scores': [{'score': 33.7733570443736, 'type': 'exam'}, {'score': 96.05228578589255, 'type': 'quiz'}, {'score': 46.24926696413032, 'type': 'homework'}]}
{'_id': 71, 'name': 'Kam Senters', 'scores': [{'score': 81.56497719010976, 'type': 'exam'}, {'score': 5.247410853581524, 'type': 'quiz'}, {'score': 92.10078400854972, 'type': 'homework'}]}
{'_id': 72, 'name': 'Leonida Lafond', 'scores': [{'score': 92.10605086888438, 'type': 'exam'}, {'score': 32.66022211621239, 'type': 'quiz'}, {'score': 82.15588797092647, 'type': 'homework'}]}
{'_id': 73, 'name': 'Devorah Smartt', 'scores': [{'score': 69.60160495436016, 'type': 'exam'}, {'score': 6.931507591998553, 'type': 'quiz'}, {'score': 55.66005349294464, 'type': 'homework'}]}
{'_id': 74, 'name': 'Leola Lundin', 'scores': [{'score': 31.62936464207764, 'type': 'exam'}, {'score': 91.28658941188532, 'type': 'quiz'}, {'score': 93.71671632774428, 'type': 'homework'}]}
{'_id': 75, 'name': 'Tonia Surace', 'scores': [{'score': 80.93655069496523, 'type': 'exam'}, {'score': 79.54620208144452, 'type': 'quiz'}, {'score': 41.34308724166419, 'type': 'homework'}]}
{'_id': 76, 'name': 'Adrien Renda', 'scores': [{'score': 57.24794864351232, 'type': 'exam'}, {'score': 19.5118228072558, 'type': 'quiz'}, {'score': 70.71043448913191, 'type': 'homework'}]}
{'_id': 77, 'name': 'Efrain Claw', 'scores': [{'score': 55.41266579085205, 'type': 'exam'}, {'score': 31.30359328252952, 'type': 'quiz'}, {'score': 88.73134194093676, 'type': 'homework'}]}
{'_id': 78, 'name': 'Len Treiber', 'scores': [{'score': 21.21850173315791, 'type': 'exam'}, {'score': 13.2282768150266, 'type': 'quiz'}, {'score': 82.49842801247594, 'type': 'homework'}]}
{'_id': 79, 'name': 'Mariela Sherer', 'scores': [{'score': 61.20158144877323, 'type': 'exam'}, {'score': 52.75657259917104, 'type': 'quiz'}, {'score': 90.97004773806381, 'type': 'homework'}]}
{'_id': 80, 'name': 'Echo Pippins', 'scores': [{'score': 27.77924608896123, 'type': 'exam'}, {'score': 85.1861976198818, 'type': 'quiz'}, {'score': 92.50671800180454, 'type': 'homework'}]}
{'_id': 81, 'name': 'Linnie Weigel', 'scores': [{'score': 66.0349256424749, 'type': 'exam'}, {'score': 67.57096025532985, 'type': 'quiz'}, {'score': 38.33608066073369, 'type': 'homework'}]}
{'_id': 82, 'name': 'Santiago Dollins', 'scores': [{'score': 33.48242310776701, 'type': 'exam'}, {'score': 60.49199094204558, 'type': 'quiz'}, {'score': 87.02564768982076, 'type': 'homework'}]}
{'_id': 83, 'name': 'Tonisha Games', 'scores': [{'score': 29.13833807032966, 'type': 'exam'}, {'score': 35.25054111123917, 'type': 'quiz'}, {'score': 66.73047056293319, 'type': 'homework'}]}
{'_id': 84, 'name': 'Timothy Harrod', 'scores': [{'score': 93.23020013495737, 'type': 'exam'}, {'score': 49.06010347848443, 'type': 'quiz'}, {'score': 74.00788699415295, 'type': 'homework'}]}
{'_id': 85, 'name': 'Rae Kohout', 'scores': [{'score': 63.86894250781692, 'type': 'exam'}, {'score': 55.81549538273672, 'type': 'quiz'}, {'score': 59.13566011309437, 'type': 'homework'}]}
{'_id': 86, 'name': 'Brain Lachapelle', 'scores': [{'score': 2.013473187690951, 'type': 'exam'}, {'score': 45.01802394825918, 'type': 'quiz'}, {'score': 88.04712649447521, 'type': 'homework'}]}
{'_id': 87, 'name': 'Toshiko Sabella', 'scores': [{'score': 21.05570509531929, 'type': 'exam'}, {'score': 26.43387483146958, 'type': 'quiz'}, {'score': 42.80331214002496, 'type': 'homework'}]}
{'_id': 88, 'name': 'Keesha Papadopoulos', 'scores': [{'score': 82.35397321850031, 'type': 'exam'}, {'score': 3.064361273717464, 'type': 'quiz'}, {'score': 98.46867828216399, 'type': 'homework'}]}
{'_id': 89, 'name': 'Cassi Heal', 'scores': [{'score': 43.04310994985133, 'type': 'exam'}, {'score': 0.006247360551892012, 'type': 'quiz'}, {'score': 63.88558436723092, 'type': 'homework'}]}
{'_id': 90, 'name': 'Osvaldo Hirt', 'scores': [{'score': 67.44931456608883, 'type': 'exam'}, {'score': 41.77986504201782, 'type': 'quiz'}, {'score': 76.30879472084027, 'type': 'homework'}]}
{'_id': 91, 'name': 'Ty Barbieri', 'scores': [{'score': 38.43781607953586, 'type': 'exam'}, {'score': 95.70340794272111, 'type': 'quiz'}, {'score': 72.80272364761178, 'type': 'homework'}]}
{'_id': 92, 'name': 'Ta Sikorski', 'scores': [{'score': 30.02140506101446, 'type': 'exam'}, {'score': 23.89164976236439, 'type': 'quiz'}, {'score': 61.82907698626848, 'type': 'homework'}]}
{'_id': 93, 'name': 'Lucinda Vanderburg', 'scores': [{'score': 27.55843343656866, 'type': 'exam'}, {'score': 11.45699271327768, 'type': 'quiz'}, {'score': 75.53546873615787, 'type': 'homework'}]}
{'_id': 94, 'name': 'Darby Wass', 'scores': [{'score': 6.867644836612586, 'type': 'exam'}, {'score': 63.4908039680606, 'type': 'quiz'}, {'score': 85.41865347441522, 'type': 'homework'}]}
{'_id': 95, 'name': 'Omar Bowdoin', 'scores': [{'score': 8.58858127638702, 'type': 'exam'}, {'score': 88.40377630359677, 'type': 'quiz'}, {'score': 25.71387474240768, 'type': 'homework'}]}
{'_id': 96, 'name': 'Milan Mcgavock', 'scores': [{'score': 69.11554341921843, 'type': 'exam'}, {'score': 10.2027724707151, 'type': 'quiz'}, {'score': 24.87545552041663, 'type': 'homework'}]}
{'_id': 97, 'name': 'Maren Scheider', 'scores': [{'score': 94.4329121733663, 'type': 'exam'}, {'score': 77.28263690107663, 'type': 'quiz'}, {'score': 59.46326216544371, 'type': 'homework'}]}
{'_id': 98, 'name': 'Carli Ector', 'scores': [{'score': 88.18040268522668, 'type': 'exam'}, {'score': 60.3111085581054, 'type': 'quiz'}, {'score': 96.33612053785647, 'type': 'homework'}]}
{'_id': 99, 'name': 'Jaclyn Morado', 'scores': [{'score': 70.27627082122453, 'type': 'exam'}, {'score': 56.78470387064279, 'type': 'quiz'}, {'score': 47.48518298423097, 'type': 'homework'}]}
{'_id': 100, 'name': 'Demarcus Audette', 'scores': [{'score': 47.42608580155614, 'type': 'exam'}, {'score': 44.83416623719906, 'type': 'quiz'}, {'score': 39.01726616178844, 'type': 'homework'}]}
{'_id': 101, 'name': 'Tania Hulett', 'scores': [{'score': 21.84617015735916, 'type': 'exam'}, {'score': 53.8568257735492, 'type': 'quiz'}, {'score': 79.60533635579307, 'type': 'homework'}]}
{'_id': 102, 'name': 'Mercedez Garduno', 'scores': [{'score': 49.52877007656483, 'type': 'exam'}, {'score': 44.55505066212384, 'type': 'quiz'}, {'score': 81.50869746632009, 'type': 'homework'}]}
{'_id': 103, 'name': 'Fleta Duplantis', 'scores': [{'score': 84.37799696030743, 'type': 'exam'}, {'score': 15.95792143439528, 'type': 'quiz'}, {'score': 77.80745176713172, 'type': 'homework'}]}

**1) Find the student name who scored maximum scores in all (exam, quiz and homework)?**

In [22]:
db = myclient.StudentData ## creating a separate collection
ex = db.exam_collection
ex.count_documents({})

200

In [23]:
ex.drop()

In [24]:
for j in range(200):
  x=data.aggregate([{"$match":{"_id":j}},{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$sort":{"scores.score":-1}}])
  for i in x:
    i=ex.insert_many([i])

In [25]:
#student who score highest score in exam
s=ex.find().sort('scores.score',-1).limit(1)
for i in s:
  print(i)

{'_id': 136, 'name': 'Margart Vitello', 'scores': {'score': 99.33685767140612, 'type': 'exam'}}

In [26]:
ex.count_documents({})

200

In [27]:
db = myclient.StudentData # creating each different collection
qz=db.qzcollection
qz.count_documents({})

200

In [82]:
qz.drop()

In [124]:
for j in range(200):
  x = data.aggregate([{"$match":{"_id":j}},{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$sort":{"scores.score":-1}}])
  for i in x:
    i=qz.insert_many([i])

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 0}, 'errmsg': 'E11000 duplicate key error collection: StudentData.qzcollection index: _id_ dup key: { _id: 0 }', 'op': {'_id': 0, 'name': 'aimee Zank', 'scores': {'score': 11.78273309957772, 'type': 'quiz'}}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [125]:
#student who score highest score in quiz
x = qz.find().sort('scores.score',-1).limit(1)
for i in x:
    print(i)

{'_id': 69, 'name': 'Cody Strouth', 'scores': {'score': 99.80348240553108, 'type': 'quiz'}}

In [126]:
qz.count_documents({}) 
## verifying the no.of. documents

200

In [127]:
db = myclient.StudentData
hw=db.hwcollection
hw.count_documents({})

200

In [128]:
hw.drop()

In [129]:
for j in range(200):
  x = data.aggregate([{"$match":{"_id":j}},{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$sort":{"scores.score":-1}}])
  for i in x:
    i=hw.insert_many([i])

In [130]:
#student who score highest score in homework
x = hw.find().sort('scores.score',-1).limit(1)
for i in x:
    print(i)

{'_id': 178, 'name': 'Whitley Fears', 'scores': {'score': 99.77237745070993, 'type': 'homework'}}

In [131]:
hw.count_documents({})

200

### 1) Find the student name who scored maximum scores in all (exam, quiz and homework)?

#### max score in exam
{'_id': 136, 'name': 'Margart Vitello', 'scores': {'score': 99.33685767140612, 'type': 'exam'}}
#### max score in quiz ---  'Cody Strouth'
{'_id': 69, 'name': 'Cody Strouth', 'scores': {'score': 99.80348240553108, 'type': 'quiz'}} 
#### max score in homework --- 'Whitley Fears'
{'_id': 178, 'name': 'Whitley Fears', 'scores': {'score': 99.77237745070993, 'type': 'homework'}}

**2) Find students who scored below average in the exam and pass mark is 40%?**

In [91]:
# avg score in exam
x = db.excollection.aggregate([{'$group' : {'_id' : "null", "avg_exam" : {'$avg' : "$scores.score"}}}])
for i in x:
    print(i)

In [92]:
db = myclient.StudentData
less =db.lesscollection
less.count_documents({})

0

In [93]:
less.drop()

In [94]:
# less than avg score in exam
x=db.exam_collection.find({'scores.score':{'$lt':48.67367075950175} })
for i in x:
   i=less.insert_many([i])
    #print(i)

In [95]:
less.count_documents({})

104

### 2) Find students who scored below average in the exam and pass mark is 40%? 

lessavg collection shows the students who scored below average in exam is 104

**3) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.**

In [96]:
# 1 Exam Failure List
db = myclient.StudentData
fex=db.fexm
fex.count_documents({})

0

In [97]:
fex.drop()

In [98]:
x=db.exam_collection.find(
    {'scores.score':{'$lt':40}}
)
for i in x:
  i=fex.insert_many([i])

fex.count_documents({})

81

In [99]:
db = myclient.StudentData
pex=db.passex
pex.count_documents({})

0

In [147]:
pex.drop()

In [148]:
x=db.exam_collection.find(
    {'scores.score':{'$gte':40}
     }
)
for i in x:
  i=pex.insert_many([i])

In [149]:
pex.count_documents({})

119

In [56]:
# 2) QUIZ List

In [150]:
db = myclient.StudentData
fqz=db.failqz
fqz.count_documents({})

0

In [151]:
fqz.drop()

In [157]:
x=db.quiz_collection.find(
    {'scores.score':{'$lt':40}
     }
)
for i in x:
  i=fqz.insert_many([i])

In [158]:
db = myclient.StudentData
pqz=db.pass_quiz
pqz.count_documents({})

0

In [159]:
pqz.drop()

In [160]:
x=db.quiz_collection.find(
    {'scores.score':{'$gte':40}}
)
for i in x:
  i=pqz.insert_many([i])

In [161]:
pqz.count_documents({})

0

In [162]:
# Home Work List

In [163]:
db = myclient.StudentData
fhw=db.fail_homework
fhw.count_documents({})

0

In [164]:
fhw.drop()

In [165]:
x=db.homework_collection.find(
    {'scores.score':{'$lt':40}
     }
)
for i in x:
  i=fhw.insert_many([i])
  #print(i)

In [166]:
fhw.count_documents({})

0

In [167]:
db = myclient.StudentData
passhomework=db.pass_homework
passhomework.count_documents({})

0

In [168]:
passhomework.drop()

In [169]:
x=db.hw.find(
    {'scores.score':{'$gte':40}
     }
)
for i in x:
  i=passhomework.insert_many([i])
passhomework.count_documents({})

0

**4) Find the total and average of the exam, quiz and homework and store them in a separate collection.**

In [72]:
# 1) EXAM

In [170]:
db = myclient.StudentData
exam1=db.exam
exam1.count_documents({})

0

In [171]:
exam1.drop()

In [172]:
x= db.ex.aggregate([{"$match": {"scores.type":"exam"}},{ "$unwind":"$scores"},{"$match": { "scores.type":"exam" } },{"$group": {
       "_id": 'total_score_exam',
       "total_score": { "$sum": "$scores.score" } }}])
for i in x:
  i=exam1.insert_many([i])
  print(i)

In [175]:
x=db.exam_collection.aggregate([{'$group' : {'_id' : "avg_score_exam", "avg_score" : {'$avg' : "$scores.score"}}}])
for i in x:
  i=exam1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x0000028A1C50AAC0>

In [176]:
exam1.count_documents({})

1

In [177]:
# 2) QUIZ

In [178]:
db = myclient.StudentData
quiz1=db.quiz
quiz1.count_documents({})

0

In [179]:
quiz1.drop()

In [180]:
x= db.quiz_collection.aggregate([{"$match": {"scores.type":"quiz"}},{ "$unwind":"$scores"},{"$match": { "scores.type":"quiz" } },{"$group": {
       "_id": 'total_score_quiz',
       "total_score": { "$sum": "$scores.score" } }}])
for i in x:
  i=quiz1.insert_many([i])
  print(i)

In [181]:
x=db.quiz_collection.aggregate([{'$group' : {'_id' : "avg_score_quiz", "avg_score" : {'$avg' : "$scores.score"}}}])
for i in x:
  i=quiz1.insert_many([i])
  print(i)

In [182]:
quiz1.count_documents({})

0

In [183]:
# 3) HOMEWORK

In [212]:
db = myclient.StudentData
homework1=db.homework
homework1.count_documents({})

0

In [213]:
homework1.drop()

In [214]:
x= db.homework_collections.aggregate([{"$match": {"scores.type":"homework"}},{ "$unwind":"$scores"},{"$match": { "scores.type":"homework" } },{"$group": {
       "_id": 'total_score_homework',
       "total_score": { "$sum": "$scores.score" } }}])
for i in x:
  i=homework1.insert_many([i])
  print(i)

In [215]:
x=db.homework_collections.aggregate([{'$group' : {'_id' : "avg_score_homework", "avg_score" : {'$avg' : "$scores.score"}}}])
for i in x:
  i=homework1.insert_many([i])
  print(i)

In [216]:
homework1.count_documents({})

0

**5) Create a new collection which consists of students who scored below average and above 40% in all the categories.**

In [ ]:
# 1) EXAM

In [217]:
db = myclient.StudentData
gtltexam=db.gt40_ltavg_exam
gtltexam.count_documents({})

23

In [218]:
gtltexam.drop()

In [219]:
x=db.exam_collection.find({'scores.score':{'$gte':40,'$lt':48.67367075950175}})
for i in x:
  i=gtltexam.insert_many([i])

In [220]:
gtltexam.count_documents({})

23

In [221]:
# 2) QUIZ

In [223]:
db = myclient.StudentData
gtltquiz=db.gt40_ltavg_quiz
gtltquiz.count_documents({})

0

In [224]:
gtltquiz.drop()

In [227]:
x=db.quiz_collections.find({'scores.score':{'$gte':40,'$lt':48.67367075950175}})
for i in x:
  i=gtltquiz.insert_many([i])
  #print(i)

In [228]:
gtltquiz.count_documents({})

0

In [ ]:
# 3) HOME WORK

In [229]:
db = myclient.StudentData
gtlthomework=db.gt40_ltavg_homework
gtlthomework.count_documents({})

0

In [230]:
gtlthomework.drop()

In [231]:
x=db.homework_collections.find({'scores.score':{'$gte':40,'$lt':48.67367075950175}})
for i in x:
  i=gtlthomework.insert_many([i])

In [232]:
gtlthomework.count_documents({})

0


**6) Create a new collection which consists of students who scored below the fail mark in all the categories.**

In [233]:
# 1) EXAM

In [236]:
db = myclient.StudentData
ltfailexam=db.lt_fail_exam
ltfailexam.count_documents({})

0

In [237]:
ltfailexam.drop()

In [238]:
x=db.exam_collection.find({'scores.score':{'$lt':1}})
for i in x:
  i=ltfailexam.insert_many([i])
  #print(i)

In [239]:
ltfailexam.count_documents({})

3

In [240]:
# 2) QUIZ

In [242]:
db = myclient.StudentData
ltfailquiz=db.lt_fail_quiz
ltfailquiz.count_documents({})

0

In [243]:
ltfailquiz.drop()

In [244]:
x=db.quiz_collection.find({'scores.score':{'$lt':1}})
for i in x:
  i=ltfailquiz.insert_many([i])

In [245]:
ltfailquiz.count_documents({})

0

In [246]:
# 3) HOME WORK

In [247]:
db = myclient.StudentData
ltfailhomework=db.lt_fail_homework
ltfailhomework.count_documents({})

0

In [248]:
ltfailhomework.drop()

In [249]:
x=db.homework_collections.find({'scores.score':{'$lt':1}})
for i in x:
  i=ltfailhomework.insert_many([i])
  #print(i)

In [250]:
ltfailhomework.count_documents({})

0


**7) Create a new collection which consists of students who scored above pass mark in all the categories.**

In [251]:
# 1) EXAM

In [252]:
db = myclient.StudentData
gtpassexam=db.gt_pass_exam
gtpassexam.count_documents({})

0

In [253]:
gtpassexam.drop()

In [255]:
x=db.exam_collection.find({'scores.score':{'$gte':40}})
for i in x:
  i=gtpassexam.insert_many([i])

In [256]:
gtpassexam.count_documents({})

119

In [257]:
# 2) QUIZ

In [259]:
db = myclient.StudentData
gtpassquiz=db.gt_pass_quiz
gtpassquiz.count_documents({})

0

In [260]:
gtpassquiz.drop()

In [261]:
x=db.quiz_collection.find({'scores.score':{'$gte':40}})
for i in x:
  i=gtpassquiz.insert_many([i])

In [262]:
gtpassquiz.count_documents({})

0

In [263]:
# 3) HOME WORK

In [265]:
db = myclient.StudentData
gtpasshomework=db.gt_pass_homework
gtpasshomework.count_documents({})

0

In [266]:
gtpasshomework.drop()

In [271]:
x=db.homework_collections.find({'scores.score':{'$gte':40}})
for i in x:
  i=gtpasshomework.insert_many([i])

In [272]:
gtpasshomework.count_documents({})

0